body {
	margin:0;
	font-family:helvetica;
}
#header {
	padding:15px 15px;
	width:100%;
	background:#050505;
	color:#fff;
}

/* @menu */
#menu {
	background:#333;
	width:100%;
	float:left;
}

#menu ul {
	float:left;
}

#menu li {
	float:left;
}
#menu a {
	padding:10px 15px;
	color:#fff;
	text-decoration: none;
}
#menu a:hover {
	color: #cfcfcf;
}


#menu a:target {
	color:green;
}

ul {
	
}

#pages {
	clear:both;
	float:left;
	position:relative;
	width:100%;
}
#pages div {
	z-index:1;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
}
#pages #page-1 {
	z-index:2;
}
#pages div:target {
	z-index:3;
}
/* @end menu */